#quienesSomos{
    text-align:center; 
    margin-bottom: 25px; 
    color:darkgreen; 
}

.quienesSomos{
    background-color:white; padding-left: -10px; 
}

p{
    color: darkgreen; 
}

.myportfolio{
    background: white;  border: white; color: white; 
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
